<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro estudiantil</title>
    <link rel="stylesheet" href="../../src/css/quienes_somos.css">
    <link rel="stylesheet" href="../../src/css/footer.css">
    <link rel="stylesheet" href="../../src/css/darkMode.css">
    <link rel="shortcut icon" href="../../src/img/index/icons/logo grande.jpg" type="image/x-icon">
<!--Importar las librerias-->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    
</head>

<body id="body" class="light">
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
            
        <a class="navbar-brand" href="../../index.html">
          <img src="../img/index/icons/logo grande.jpg" alt="Logo" class="d-inline-block align-top">
        </a>
        
        <ul class="navbar-nav">
            <!-- Barra de navegacion desplegable -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html"> Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./agenda.html">Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./chorifest.html">ChoriFest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./equipo_socorro.html">Equipo de Socorro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./quienes_somos.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <input type="checkbox" class="darkmode" id="btn_dark">
                    </input>
                </li>
              </ul>
            </div>
        </ul> 
                
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      </nav>
    
    
    <header>
        <section class="instrucciones">
            <h3>
                ITSC VILLA LIBERTADOR
            </h3>
            <p>
                Con testimonios reales de nuestros egresados durante su periodo de Practicas Profesionales en empresas 
                y los posteos mas recientes en nuestras redes sociales, te invitamos a que nos conozcas mas de cerca. 
            </p>
        </section>
    </header>
    
    <main class="mt-xl-5">
        <section class="d-flex justify-content-center align-items-center flex-lg-column">        
            
            <h3>
                Testimonios de egresados
            </h3>
            
            <div class="container">
    
                <div class="accordion d-flex justify-content-center align-items-center height" id="accordionExample">
           
                    <div class="row">
           
                        <div class="col-md-6">
                            
                          <div class="p-3">
                            
           
                          
                            <ul class="testimonial-list">
                              <li>
                               
                                 <div class="cardTestimonial p-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           
                                   <div class="d-flex flex-row align-items-center">
           
                                     <img src="https://i.imgur.com/G1pXs7D.jpg" width="50" class="rounded-circle">
           
                                     <div class="d-flex flex-column ml-2">
           
                                       <span class="font-weight-normal">Milton Austin</span>
                                       <span>Sales Manager, Stack</span>
                                       
                                     </div>
                                     
                                   </div>
                                   
                                 </div>   
                              </li>
           
                              <li>
                               <div class="cardTestimonial p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           
                                   <div class="d-flex flex-row align-items-center">
           
                                     <img src="https://i.imgur.com/udGH5tO.jpg" width="50" class="rounded-circle">
           
                                     <div class="d-flex flex-column ml-2">
           
                                       <span class="font-weight-normal">John Reeves</span>
                                       <span>Head of Sales, Asana</span>
                                       
                                     </div>
                                     
                                   </div>
                                   
                                 </div> 
                              </li>
           
                              <li>
                               <div class="cardTestimonial p-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
           
                                   <div class="d-flex flex-row align-items-center">
           
                                     <img src="https://i.imgur.com/Uz4FjGZ.jpg" width="50" class="rounded-circle">
           
                                     <div class="d-flex flex-column ml-2">
           
                                       <span class="font-weight-normal">Luke Harper</span>
                                       <span>Sales Team Lead,Sketch</span>
                                       
                                     </div>
                                     
                                   </div>
                                   
                                 </div> 
                              </li>
           
                            </ul>
                            </div>
                        </div>
           
                        <div class="col-md-6">
                         <div class="p-3 testimonials-margin">
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h4>It was a great experience</h4>
                                    <div class="ratings">
           
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     
                                      
                                    </div>
           
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
           
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h4>Thanks for this great service</h4>
                                    <div class="ratings">
           
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                      
                                    </div>
           
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
           
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h4>You all are awesome thanks alot</h4>
                                    <div class="ratings">
           
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                      
                                    </div>
           
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                </div>
                            </div>
                            </div>
           
                        </div>
           
                    </div>
                </div>
           
            </div>
        </section>
        
        <section class="d-flex justify-content-center align-items-center flex-lg-column">        
            
            <h3>
                Posteos de Instagram
            </h3>
            
            <div class="container d-flex flex-row">
    
                <div class="instagramCard">
                    <div class="user-info">
                        <img class="profile-pic" src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="username-location">
                            <h4>ITSC</h4>
                        </div>
                        <div class="more-options">
                            <!-- Tres puntos en vertical -->
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <img class="post-image" src="https://via.placeholder.com/600x800" alt="Post Image">
                    <div class="post-details">
                        <div class="likes-comments">
                            <img src="/src/img/quienesSomos/instagramIcons/heart-icon.png" alt="Heart Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/comment-icon.png" alt="Comment Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/send-icon.png" alt="Send Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/save-icon.png" alt="Save Icon">
                        </div>
                        <p class="likes">42 likes</p>
                        <p class="caption">This is the caption for the Instagram post. #Instagram #Post #Caption</p>
                        <p class="timestamp">2 hours ago</p>
                    </div>
                </div>
           
                
                <div class="instagramCard">
                    <div class="user-info">
                        <img class="profile-pic" src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="username-location">
                            <h4>ITSC</h4>
                        </div>
                        <div class="more-options">
                            <!-- Tres puntos en vertical -->
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <img class="post-image" src="https://via.placeholder.com/600x800" alt="Post Image">
                    <div class="post-details">
                        <div class="likes-comments">
                            <img src="/src/img/quienesSomos/instagramIcons/heart-icon.png" alt="Heart Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/comment-icon.png" alt="Comment Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/send-icon.png" alt="Send Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/save-icon.png" alt="Save Icon">
                        </div>
                        <p class="likes">70 likes</p>
                        <p class="caption">This is the caption for the Instagram post. #Instagram #Post #Caption</p>
                        <p class="timestamp">5 hours ago</p>
                    </div>
                </div>
                
                
                <div class="instagramCard">
                    <div class="user-info">
                        <img class="profile-pic" src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="username-location">
                            <h4>ITSC</h4>
                        </div>
                        <div class="more-options">
                            <!-- Tres puntos en vertical -->
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <img class="post-image" src="https://via.placeholder.com/600x800" alt="Post Image">
                    <div class="post-details">
                        <div class="likes-comments">
                            <img src="/src/img/quienesSomos/instagramIcons/heart-icon.png" alt="Heart Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/comment-icon.png" alt="Comment Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/send-icon.png" alt="Send Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/save-icon.png" alt="Save Icon">
                        </div>
                        <p class="likes">136 likes</p>
                        <p class="caption">This is the caption for the Instagram post. #Instagram #Post #Caption</p>
                        <p class="timestamp">1 day ago</p>
                    </div>
                </div>
                
                <div class="instagramCard">
                    <div class="user-info">
                        <img class="profile-pic" src="https://via.placeholder.com/40" alt="Profile Picture">
                        <div class="username-location">
                            <h4>ITSC</h4>
                        </div>
                        <div class="more-options">
                            <!-- Tres puntos en vertical -->
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <img class="post-image" src="https://via.placeholder.com/600x800" alt="Post Image">
                    <div class="post-details">
                        <div class="likes-comments">
                            <img src="/src/img/quienesSomos/instagramIcons/heart-icon.png" alt="Heart Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/comment-icon.png" alt="Comment Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/send-icon.png" alt="Send Icon">
                            <img src="/src/img/quienesSomos/instagramIcons/save-icon.png" alt="Save Icon">
                        </div>
                        <p class="likes">267 likes</p>
                        <p class="caption">This is the caption for the Instagram post. #Instagram #Post #Caption</p>
                        <p class="timestamp">5 days ago</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    
	<footer class="footer-distributed">
    
		<div class="footer-right">
    
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
    
		</div>
    
		<div class="footer-left">
    
			<p class="footer-links">
				<a class="link-1" href="#">Home</a>
    
				<a href="#">Blog</a>
    
				<a href="#">Pricing</a>
    
				<a href="#">About</a>
    
				<a href="#">Faq</a>
    
				<a href="#">Contact</a>
			</p>
    
			<p>Company Name &copy; 2015</p>
		</div>
      
	</footer>  
   
    <script src="../../src/js/global/darkMode.js"></script>
    <script src="https://kit.fontawesome.com/4d7393f56f.js" crossorigin="anonymous"></script>
  </body>
  </html>
  