@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


/* Styles for the header section */
header {
    grid-area: header; /* Position in the grid */
}

/* Styles for images within the header carousel */  
header .carousel-inner img {
    width: 100%; /* Full width */
    height: 600px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio while fitting into the container */
}
    
main {
    grid-area: main;
    margin: 10px 10px 10px 10px;
}
    
.tooltip {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #001F3F; /* Color de fondo verde para éxito (Bootstrap) */
    color: #fff; /* Color de texto blanco */
    border-radius: 5px;
    display: none;
}
.error-message {
    display: none;
    color: red;
    /* Otros estilos de diseño según sea necesario */
}
