@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 520px) {
  header .carousel-inner img {
    height: auto; /* Cambia la altura para ajustarse al contenido */
  }

  .screen {
    height: auto; /* Cambia la altura para ajustarse al contenido */
    margin-bottom: 20px; /* Ajusta el margen inferior */
    flex-direction: column;
  }

  .screen:after {
    display: none; /* Oculta la sombra en dispositivos móviles */
  }

  .app-title {
    font-size: 28px; /* Tamaño de fuente más pequeño */
    margin-bottom: 40px; /* Ajusta el margen inferior */
  }

  .app-form-control,
  .app-button {
    font-size: 18px; /* Tamaño de fuente más pequeño */
  }
}

/* Estilos responsivos para todos los tamaños de pantalla */
@media screen and (min-width: 521px) {
  header .carousel-inner img {
    width: 100%; /* Restaura el ancho a 100% */
  }

  .screen {
    height: 40vh; /* Restaura la altura predeterminada */
    margin-bottom: 40px; /* Restaura el margen inferior */
    flex-direction: column;
  }

  .screen:after {
    display: block; /* Muestra la sombra */
  }

  .app-title {
    font-size: 35px; /* Restaura el tamaño de fuente predeterminado */
    margin-bottom: 60px; /* Restaura el margen inferior */
  }

  .app-form-control,
  .app-button {
    font-size: 25px; /* Restaura el tamaño de fuente predeterminado */
  }
}


header { 
  grid-area: header;
  margin-bottom: 40px;
}

/* Styles for images within the header carousel */
header .carousel-inner img {
    width: 100%; /* Full width */
    height: 60vh; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio while fitting into the container */
}

/* Ajustes para el margen inferior del contenedor principal */
main {
    grid-area: main;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  width: 100%;
  height: auto; /* Usa altura automática */
  margin: 0 auto; /* Centra horizontalmente */
  margin-bottom: 40px;
  overflow: hidden;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.cerrar {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
  overflow: auto; /* Agrega esta línea para permitir el desplazamiento cuando el contenido se desborde */
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.screen-body-item.right {
  display: flex;
  flex-direction: column;
}

.image-card {
  max-width: 100%;
  height: auto;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 35px;
  margin-bottom: 60px;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}
    
.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }
}