@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

header { 
    grid-area: header;
}

main {
    grid-area: main;
}

section {
    margin-bottom: 150px;
}

.card-historia {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas */
    gap: 20px; /* Espacio entre las tarjetas */
  }

  .card {
    flex: 1; /* Hace que las tarjetas ocupen el mismo espacio */
    max-width: 400px; /* Máximo ancho de las tarjetas */
    height: 400px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

.cardTestimonial{
 border: none;
 cursor: pointer;
 box-shadow: 0 0 40px rgba(51, 51, 51, .1)
 }
.cardTestimonial:hover{
 background-color: #eee;
}
.ratings i{
 color: orange;
}
.testimonial-list{
 list-style: none;
}
.testimonial-list li{
 margin-bottom: 20px;
}
.testimonials-margin{
 margin-top: -19px;
}

.instrucciones {
 background-color: #f8f8f8;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 text-align: center;
 margin: 20px auto ;
 width: 100%;
 max-width: 800px;
}

.instrucciones h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.instrucciones p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}


.more-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto; /* Mueve los tres puntos a la derecha */
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin: 2px;
}

.save-icon {
    margin-left: auto; /* Mueve Save Icon a la derecha */
}

.insta-container {
    width: 80%;
    height: 1000px;
}

.instagram-media {
    background:#FFF; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 1px;
    height: 100%;
    padding:0; 
}

.instagram-media-container {
    padding:8px;
}

.instagram-media-image {
    background:#F8F8F8; 
    line-height:0; 
    margin-top:40px; 
    padding:50% 0; 
    text-align:center; 
    width:100%;
}

.image {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); 
    display:block; 
    height:44px; 
    margin:0 auto -44px; 
    position:relative; 
    top:-22px; 
    width:44px;
}

.instagram-text {
    margin:8px 0 0 0; 
    padding:0 4px;
}

.instagramCard {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px 10px 20px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 10px;
}

.username-location {
    flex-grow: 1;
}

.more-icon {
    width: 20px;
    cursor: pointer;
}

.post-image {
    width: 100%;
    object-fit: cover;
}

.post-details {
    padding: 10px;
}

.likes-comments {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.likes-comments img {
    width: 24px;
    margin-right: 15px;
    cursor: pointer;
}

.likes {
    margin: 5px 0;
    font-weight: bold;
}

.caption {
    margin: 0;
    line-height: 1.2;
}

.timestamp {
    margin: 5px 0 0;
    font-size: 0.8rem;
    color: #888;
}
    