body {
  display: grid;
  grid-template-areas: 'navbar navbar navbar'
                      'leftWSide header rightSide'
                      'leftWSide main rightSide'
                      'footer footer footer'
  ;
  height: 100vh;
}