@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


@media screen and (min-width: 576px) {
    /* Adjust the left margin of navbar-nav to push it to the right */
    .navbar-nav {
        margin-left: auto;
    }
    
    /* Styles for individual navigation elements in the navbar */
    .navbar-nav .nav-item {
        display: flex; /* Display elements in a row */
        align-items: center; /* Vertically center within each element */
    }    
}

/* Styles for the navigation bar */
nav {
    background-color: #3e3e3e; /* Dark blue background color */
}

/* Styles for images within navigation links */
nav a img { 
    height: 50px; /* Image height */
    width: 50px; /* Image width */
}


/* Styles for images within the header carousel */
header .carousel-inner img {
    width: 100%; /* Full width */
    height: 500px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio while fitting into the container */
}

main section .card{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 5px;
    background-color: #FFFFFF;
}


.card .card-img-top {
    width: 400px;
    height: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body a{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#001F3F;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
.card-body a:hover{
    background:#fff;
    color:#001F3F;
  }
.card-body a:before,
.card-body a:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #001F3F;
    transition:400ms ease all;
  }
.card-body a:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
.card-body a:hover:before,
.card-body a:hover:after{
    width:100%;
    transition:800ms ease all;
  }

#chorifest .card {
    flex-direction: row-reverse;
}

#quienesSomos .card {
    flex-direction: row-reverse;
}

footer{
    display: flex;
    align-items: center;
    background-color:#AAAAAA;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#social-media img{
    width: 30px; 
    height: 30px;
    margin: 10px;
}

#direcciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}


.footer-distributed {
  background-color: #001F3F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #033d77;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}